
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.form {
  display: block;
  margin: auto;
  width: 350px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #a7bbc7;
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.4);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.4);
}

.container {
  display: block;
  height: 300px;
  position: absolute;
  top: -60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 500px;
  width: 100%;
}

input {
  border-radius: 50px;
  border: 2px solid #a7bbc7;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
}

input[type=file] {
  border: none;

}

button{
  margin-top: 60px;
  border-radius: 10px;
  border: 2px solid #a7bbc7;
  padding: 5px;
  padding-left: 0px;
  width: 100%;
}

.userForm{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  font-family: Montserrat, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-bottom: solid 2px #0056b3;
  border-radius: 0px;
  background-color: white;
  color: #0056b3;
}

.nav-pills{
  margin: 20px;
}

label{
  width: 100%;
}

textarea{
  resize: none;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #a7bbc7;
  padding: 10px;
}

table{
  width: 100%;
}

td{
  margin: 20px;
  border: 0px solid black;
  padding: 20px;
}

/* Table style */
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #b9ddfc;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #edf7ff;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.error {
  -webkit-animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}